name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with: { go-version: 'stable' }
    - run: go build -v ./...
    - run: go test -v -race -coverprofile=coverage.txt ./...
    - uses: codecov/codecov-action@v4
      env: { CODECOV_TOKEN: '${{ secrets.CODECOV_TOKEN }}' }
