name: Fuzzing
on: [push, pull_request]
permissions:
  contents: read
jobs:
  fuzz:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with: { go-version: 'stable' }
    - run: go test -fuzz=. -fuzztime=30s ./config/
