name: Snyk Security
on: [push, pull_request]
permissions:
  contents: read
jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
      with: { go-version: 'stable' }
    - uses: snyk/actions/setup@0cf20d2eb756c7c707cbbcbbecfef7fb4fc77b06 # master
    - run: snyk test --severity-threshold=high
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
